.hero-container {
  position: relative;
}
.hero-bg {
  background: url('https://res.cloudinary.com/gjtorres-dev/image/upload/c_scale,w_2136/v1636787954/jeff-bara-wedding-site/bg-wide-2_u2zxyy.jpg')
    no-repeat center top/cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;
  /* background-attachment: fixed; */
}

.hero-bg::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
  content: '';
}

.hero {
  z-index: 30;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.hero-content {
  /* background: white; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  text-align: center;
  font-family: 'Amiri', serif;
  font-size: 16px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  /* width: 470; */
  height: 400px;
}

.hero-content h1 {
  font-size: 78px;
  font-family: 'Alex Brush', cursive;
  letter-spacing: 3px;
  text-transform: none;
  font-weight: 400;
}

.hero-content .subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
}

.hero-date {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

.address {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  font-family: 'Amiri', serif;
  text-transform: uppercase;
}

.address li {
  line-height: 16px;
  font-size: 14px;
}

.font {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 18px;
}

/* .hero-content::before {
  content: '';
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 180px;
  background: url('../img/burgundy-straight.png') no-repeat center
    center/contain;
} */

.hero-content::before {
  content: '';
  position: absolute;
  top: -280px;
  left: 50%;
  transform: translate(-50%);
  width: 250%;
  height: 225%;
  background: url('../img/frame-3.png') no-repeat center center/contain;
  overflow: hidden;
}

@media (max-width: 550px) {
  .hero-bg {
    background-position-x: -260px;
  }
}
